#counter {
    margin-top: 20px;
    margin-left: 135px;
    background-color: #222;
    width: 154px;
    height: 59px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -opera-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left:auto;
    margin-right:auto;
}
#counter_item1 {
    margin-left: 2px;
}
.counter_item {
    width: 30px;
    height: 55px;
    background: transparent url(/images/timer/counter_back.gif) no-repeat;
    overflow: hidden;
    float: left;
    margin-top: 2px;
}
.counter_item .digit, .counter_item .front {
    width: 30px;
    height: 55px;
    overflow: hidden;
}
.counter_item .front {
    background: transparent url(/images/timer/counter_front.png) no-repeat;
    position: fixed;
    z-index: 10;
}
.counter_item .digit_colon {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 0px;
}
.counter_item .digit0 {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 -55px;
}
.counter_item .digit1 {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 -110px;
}
.counter_item .digit2 {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 -165px;
}
.counter_item .digit3 {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 -220px;
}
.counter_item .digit4 {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 -275px;
}
.counter_item .digit5 {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 -330px;
}
.counter_item .digit6 {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 -385px;
}
.counter_item .digit7 {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 -440px;
}
.counter_item .digit8 {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 -495px;
}
.counter_item .digit9 {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 -550px;
}
.counter_item .digit_cherry {
    background: transparent url(/images/timer/counter_digits.png) no-repeat 0 -605px;
}
body {
    background: #606060 url(/images/timer/counter_bg.jpg);
    font-family: Arial;
    font-size: 14px;
    line-height: 1.7em;
    text-shadow: 0 1px 1px #DDD;
}